<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>to do list</title>
    <style>
      .contener {
        width: 405px;
        top: 168px;
        background-color: #f1f1f1;
        border: 2px solid #e0e0e0;
        padding-left: 15px;
        box-sizing: border-box;
        padding-bottom: 15px;
      }
      .base {
        width: 359.23px;
        height: 34px;
        top: 69px;
        left: 23.88px;
        gap: 0px;
        border-bottom: 1px solid #cbcbcb;
        opacity: 0px;
      }
      .add {
        width: 359.23px;
        height: 34px;
        top: 69px;
        left: 23.88px;
        gap: 0px;
        border-bottom: 1px solid #cbcbcb;
        opacity: 0px;
      }
      .add:hover {
        background: #e0e0e0;
      }

      .add-button {
        width: 21.94px;
        height: 21.88px;
        top: 72px;
        left: 361.28px;
        gap: 0px;
        opacity: 0px;
        float: right;
      }
      .checkbox {
        width: 18px;
        height: 18px;
        top: 133px;
        left: 29px;
        gap: 0px;
        border-radius: 3px 0px 0px 0px;
        border-bottom: 1px solid #cbcbcb;
        opacity: 0px;
      }
      .text {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
      }

      del {
        color: #797979;
      }
    </style>
    <script>
      const inCheck = document.querySelector("#in-check-1");
      const descripton = document.querySelector("#descripton-1");
      let list;

      document.addEventListener('DOMContentLoaded', async ()=>{
        getLists(createContener);
      });

      function createContener(){
        
        const contenerDiv = document.querySelector(".contener");
       
        for(let i = 0; i < list.data.length; i++){
          const id = list.data[i].id;
          const is_check = list.data[i].is_check;
          const description = list.data[i].description;

          //div add 를 contener에 추가
          let divAdd = document.createElement('div');
          divAdd.setAttribute('class', 'add');
          contenerDiv.appendChild(divAdd);

          //checkbox를 add 에 생성
          let checkbox = document.createElement('input');
          checkbox.setAttribute('class', 'checkbox');
          checkbox.setAttribute('type', 'checkbox');
          checkbox.setAttribute('checked', is_check);
          checkbox.addEventListener('click', toggleText(this,description));
          //체크박스 체크됬으면 del 걸기
          if(checkbox.checked){
            let del = document.createElement('del');
            text.innerHTML = `<del>${list.data[i].description}</del>`;
          } else {
            text.innerHTML = list.data[i].description;
          }
          divAdd.appendChild(checkbox);

          //text 를 만들기
          let text = document.createElement('span');
          divAdd.appendChild(text);
          
          
          

          
        }
      }

      function addList() {
        const req = {
          inCheck: inCheck.value,
          descripton: descripton.value,
        };

        fetch("/lists", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(req),
        })
          .then((res) => res.json())
          .then((res) => {
            if (!res.success) alert(res.msg);
          })
          .catch((err) => {
            console.error("리스트 추가 중 에러 발생");
          });
      }

      function getLists(func) {
        fetch("/lists")
          .then((res) => res.json())
          .then((res) => {
            if (!res.success) alert(res.msg);
            list = res
            console.log("리스트는 : ",list);
            console.log("리스트 success는 : ",list.success);
            console.log("리스트 data는 : ",list.data);
            console.log("리스트 data[0]는 : ",list.data[0]);
            console.log("리스트 description",list.data[0].description)
            if(func) func();
          })
          .catch((err) => {
            console.error("리스트 화면 띄우는 중 에러 발생");
          });
      }

      function updateList() {
        const req = {
          inCheck: inCheck.value,
          descripton: descripton.value,
        };

        fetch(`/lists/${id}`)
          .then((res) => res.json())
          .then((res) => {
            if (!res.success) alert(res.msg);
          })
          .catch((err) => {
            console.error("리스트 수정 중 에러 발생");
          });
      }

      function deleteList() {
        fetch(`/lists/${id}`)
          .then((res) => res.json())
          .then((res) => {
            if (!res.success) alert(res.msg);
          })
          .catch((err) => {
            console.error("리스트 삭제 중 에러 발생");
          });
      }

      function toggleText(checkbox,text){
        if(checkbox.checked){
            let del = document.createElement('del');
            text.innerHTML = `<del>${text}</del>`;
          } else {
            text.innerHTML = text;
          }
      }

    </script>
  </head>
  <body>
    <div class="contener">

      <h3>To Do List</h3>
      <div class="base">
        <button class="add-button" type="button" onclick="addList();"></button>
      </div>
  
  </body>
</html>
