<!--add 버튼 누르면 추가되야할 부분들 1-->
<div class="add">
  <input class="checkbox" type="checkbox" onclick="toggleText(this)" />
  <span>할 일 1</span>
  <button class="pan" type="button">p</button>
  <button class="waste" type="button">w</button>
</div>
<!--끝-->

<!--add 버튼 누르면 추가되야할 부분들 2 + 체크박스 눌리면 변할 요소들-->
<div class="add">
  <input class="checkbox" type="checkbox" name="" checked />
  <span><del>할 일 2</del></span>
  <button class="pan" type="button">p</button>
  <button class="waste" type="button">w</button>
</div>
<!--끝-->

<!--add 버튼 누르면 추가되야할 부분들 3 + 연필버튼 눌렀을때 변할 요소들 후-->
<div class="add">
  <input class="checkbox" type="checkbox" name="" disabled />
  <!--비활성화 되야함-->
  <input type="text" name="" value="할 일 3" />
  <!--input text 변환 + value = 이너html-->
  <button class="pan" type="button">완료</button>
  <!--버튼을 완료 텍스트로 변환-->
  <button class="waste" type="button">w</button>
</div>
<!--끝-->
</div>