.contener {
  width: 405px;
  top: 168px;
  background-color: #f1f1f1;
  border: 2px solid #e0e0e0;
  padding-left: 15px;
  /*box-sizing: border-box;*/
  padding-bottom: 15px;
}
.base {
  width: 359.23px;
  height: 34px;
  top: 69px;
  left: 23.88px;
  gap: 0px;
  border-bottom: 1px solid #cbcbcb;
  opacity: 0px;
}
.add {
  width: 359.23px;
  height: 34px;
  top: 69px;
  left: 23.88px;
  gap: 0px;
  border-bottom: 1px solid #cbcbcb;
  opacity: 0px;
  display: flex; /* 추가됨 */
  justify-content: space-between;
  align-items: center; /* 추가됨 */
}
.add:hover {
  background: #e0e0e0;
}

.add-button {
  width: 21.94px;
  height: 21.88px;
  top: 72px;
  left: 361.28px;
  gap: 0px;
  opacity: 0px;
  float: right;

  padding-right: 27px;
}
.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;

  display: flex;
  align-items: center;
}

del {
  color: #797979;
}

.btn {
  margin-left: auto; /* 자동 여백을 추가하여 오른쪽 정렬 */
  display: flex;
  gap: 5px; /* 오른쪽 요소들 간의 간격 설정 */
}

.input {
  width: 300 px;
  height: 32px;
  border: 0px solid #ccc;
  background-color: #f1f1f1;
}

image {
  width: 12px;
  height: 12px;
  object-fit: cover;
}

.pen {
  width: 12px;
  height: 12px;
  object-fit: cover;
}

.waste {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

button {
  border: 0;
  background-color: transparent;
}

.add-button-img {
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.update {
  padding-right: 0px;
}

.base:hover {
  background: #e0e0e0;
}
.base:hover #input {
  background: #e0e0e0;
}

textarea {
  width: 100%;
  height: 29px;
  overflow: hidden;
  resize: none;

  box-sizing: border-box;

  border: 0px solid #ccc;
  background-color: #f1f1f1;
  font-size: 14px;
}
.add:hover textarea {
  background: #e0e0e0;
}
