/*폰트바꾸기*/
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
.list-text {
  font-family: "Pretendard-Regular";
  color: black;
}

/* ---------- GENERAL ---------- */

body {
  background-color: #dadada;
  color: #272727;
  display: grid;
  font: 16px/40px "Open Sans", sans-serif;
  margin: 0;
  min-block-size: 100vh;
  place-items: center;
}

form {
  background: #ffffff;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
/* ---------- To-Do-List ---------- */

.button {
  font-size: 40px;
  height: 50px;
  background-color: transparent;
  border: none;
}
.edit-button {
  width: 25px;
  height: 25px;
  background-image: url("../home/img/edit_button.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
}
.save-button {
  width: 35px;
  height: 25px;
  border: none;
  background-color: transparent;
  font-family: "Pretendard-Regular";
  font-size: small;
  position: relative;
  left: -10px;
  top: -5px;
}

.delete-button {
  position: relative;
  left: -10px;
  width: 25px;
  height: 25px;
  background-image: url("../home/img/delete_button.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
}

.section {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  font-size: 0px;
}
/*체크되어있을때 속성*/
.Cancellation-line {
  text-decoration: line-through;
  text-decoration-color: black;
  color: rgb(130, 130, 130);
}
/*input 칸*/
.inputadd {
  border: none;
  width: 350px;
  height: 30px;
}
.inputadd:focus {
  outline: none; /* 포커스 시 테두리 없앰 */
}

.input1 {
  height: 20px;
  width: 250px;
  border: none;
  font-size: 100%;
  margin-top: 20px;
  background-color: transparent; /* 배경을 투명하게 설정 */
}
.input1:focus {
  outline: none; /* 포커스 시 테두리 없앰 */
}
/*addlist 밑에 줄 hr*/
.underline {
  height: 1px;
  border: none;
  background-color: rgba(134, 134, 134, 0.751);
}
.list-line {
  margin-top: 10px;
  margin-bottom: 0;
  height: 1px;
  border: 1;
  background-color: rgba(134, 134, 134, 0.751);
}
/*list의 한칸 클릭했을때 hover*/

.div-hover:hover {
  background-color: #c9c9c9;
}
/*sapn 숨기기 테그*/
.hide {
  display: none;
}
