* {
  outline: none;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}

.Rectangle64 {
  width: 405px;
  min-height: 154px;
  position: relative;
  opacity: 1; /* opacity 설정을 1로 변경 */
  border-radius: 20px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.24);
  background: rgba(241, 241, 241, 1);
  border: 1px solid rgba(220, 220, 220, 1);
  display: flex;
  flex-direction: column; /* 수직 정렬을 위해 추가 */
  align-items: center; /* 수평 중앙 정렬 */
  box-sizing: border-box; /* padding을 포함하여 크기 계산 */
  height: auto;
}

.text {
  top: 25px;
  left: 22.06px;
  gap: 0px;
  opacity: 1;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.Rectangle65 {
  width: 310px;
  border: none;
  background-color: transparent; /* 배경색 추가 */
  outline: none;
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}

.listbox {
  width: 359.23px;
  height: 35px;
  top: 65px;
  left: 23.88px;
  gap: 0px;
  border: none;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: transparent; /* 배경색 추가 */
  outline: none;
  border-bottom: 1px solid rgba(203, 203, 203, 1);
}

.newlistbox {
  width: 100%;
  min-height: 34px;
  display: flex;
  flex-direction: column; /* 수직으로 쌓이도록 설정 */
  align-items: center; /* 수평 중앙 정렬 */
  margin-top: auto; /* 가장 아래로 위치하도록 설정 */
  padding-top: 10px;
}

.newsmall {
  width: 359.23px;
  left: 23.88px;
  display: flex;
  justify-content: space-between;
  border: none; /* 테두리 제거 */
  border-bottom: 1px solid rgba(203, 203, 203, 1);
  margin-top: 5px; /* 선택사항: 요소 간의 여백 추가 */
  outline: none; /* 점선 제거 */
}

.plusImg {
  width: 21.94px;
  height: 21.88px;
  gap: 0px;
  opacity: 1px;
  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-plus-256.png");
  background-size: cover; /* 이미지 크기 조정 */
  cursor: pointer;
  border: none;
  position: relative;
}

.checkbox {
  margin-left: 10px;
  margin-right: 10px;
}

.newsmall .description {
  flex-grow: 1;
}

.rmbtn {
  width: 21.94px;
  height: 21.88px;
  gap: 0px;
  opacity: 1px;
  cursor: pointer;
  border: none;
  position: relative;
  margin-left: 10px;
  padding: 0; /* padding을 0으로 설정하여 이미지가 버튼 크기에 맞도록 */
  background: none; /* 버튼의 기본 배경을 제거 */
}
.rmImg {
  width: 21.94px;
  height: 21.88px;
  display: block; /* 이미지가 버튼의 크기에 맞도록 설정 */
}

.editImg {
  width: 21.94px;
  height: 21.88px;
  gap: 0px;
  opacity: 1px;
  cursor: pointer;
  border: none;
  position: relative;
  margin-left: 10px;
}
