<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/home/index.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <table align="center">
      <tr>
        <td><h2>to do list</h2></td>
      </tr>
      <tr>
        <td align="Right">
          <button id="add">+</button>
          <hr />
        </td>
      </tr>
    </table>
  </body>
</html>
