<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/home/login.css" />
  </head>
  <body class="parent-container">
    <div class="Rectangle64" id="Rectangle64">
      <div class="text">To Do List</div>
      <div class="listbox">
        <input
          type="text"
          id="description"
          name="description"
          placeholder="할 일"
          class="Rectangle65"
        /><!--데이터 입력창-->
        <div class="plusImage" id="plusImage"></div>
        <!--추가 버튼-->
      </div>
      <div class="newlistbox" id="newlistbox"></div>

      <!-- <p>
        <button id="rm-btn">삭제</button>
      </p> -->
    </div>
    <script type="text/javascript" src="/js/home/login.js" defer></script>
    <!-- js 파일 연결 -->
  </body>
</html>
