/* 강원교육튼튼체 웹폰트 */
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 모든 글씨 웹폰트 적용 */
* {
  font-family: 'GangwonEduPowerExtraBoldA' !important;
}

/* To do list */
#box {
  background-color: #f1f1f1;

  border-radius: 30px;
  width: 405px;
  height: 154px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  box-shadow: 1px 3px 5px gray;

  font-size: 25px;
  font-weight: 600;
  line-height: 65px;

  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

/* 입력란 */
.input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 2;
}

input::placeholder {
  padding-top: 2px;
}

.plus-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.plus-button img {
  width: 20px;
  height: auto;
}

/* 밑줄 */
hr {
  width: 80%;
  margin-top: -18px;
}
